.button {
    -fx-text-fill: #322525;
    -fx-background-color: #79d1f7;
    -fx-end-margin: 20px;
    -fx-start-margin: 20px;
}

.label {
    -fx-text-fill: #322525;
}

/* login */
.login {
    -fx-background-color: #f79f79;
}

.input {
    -fx-background-color: #f9e9e3;
}

.login-header {
    -fx-font-size: 3em;
}